In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import glob
import os
import numpy as np

from collections import Counter

# Loads each whole scenario as a sheet (For Later)

start_folder = 'AllCSVs'
csvs_scen = glob.glob(r'{}\*.csv'.format(start_folder))
df_scen = []

for c in csvs_scen:
    df = pd.read_csv(c)
    df_scen.append(df)
print(len(df_scen))
# df_list[0]

# Loads and seperates each car into its own sheet

In [8]:
start_folder = 'ScenarioScaled'
csvs = glob.glob(r'{}\*.csv'.format(start_folder))
df_list = []

for c in csvs:
    df = pd.read_csv(c)
    for i in np.unique(df.sender):
        df_list.append(df[df.sender.isin([i])].copy())
    #     df[df.ID.isin([subs[0]])&df.Vigil.isin(vigils[0])].copy()
print(len(df_list))
# df_list[0]

47539

In [ ]:
df_list[10].iloc[:,[1,2,4,5,6,7]]

In [12]:
df_attacker = []
df_normal = []
window_size = 11
overlap_size = 10

for j in df_list:
    if j.attackerType.any() == 0:
        j = j.iloc[:,[1,2,4,5,6,7]]
        for start_idx in range(0, len(j)-window_size, window_size - overlap_size):
            end_idx = start_idx + window_size
            df_chunk = j.iloc[start_idx:end_idx]
#             display(df_chunk)
            df_normal.append(df_chunk)
        
    
    elif j.attackerType.any() == 1:
        j = j.iloc[:,[5,6,14,15]]
        df_attacker.append(j)

# df_normal = np.asarray(df_normal)
# df_attacker = np.asarray(df_attacker)

df_normal[0]

            time  sender      pos0      pos1      spd0      spd1
1   10800.437587       7 -0.466850 -0.607611 -0.908263  1.146953
8   10801.437587       7 -0.471098 -0.490409 -0.908228  1.146896
14  10802.437587       7 -0.474247 -0.372840 -0.713143  1.150487
20  10803.437587       7 -0.477275 -0.255153 -0.712426  1.148884
26  10804.437587       7 -0.480302 -0.137515 -0.712289  1.148578
32  10805.437587       7 -0.483330 -0.019843 -0.711866  1.147633
39  10806.437587       7 -0.486357  0.097775 -0.712726  1.149555
45  10807.437587       7 -0.488495  0.215632 -0.476734  1.151681
52  10808.437587       7 -0.490041  0.333521 -0.477325  1.154273
59  10809.437587       7 -0.491588  0.451445 -0.476311  1.149825
66  10810.437587       7 -0.492958  0.569303 -0.285300  1.153551

In [15]:
len(df_normal)
df_normal[12]

            time  sender      pos0      pos1      spd0      spd1
13  10802.392785      13 -0.489258  0.055667 -0.839245  1.432360
19  10803.392785      13 -0.492323  0.204330 -0.541268  1.433327
25  10804.392785      13 -0.494277  0.353187 -0.541382  1.433824
31  10805.392785      13 -0.496232  0.502096 -0.541444  1.434097
38  10806.392785      13 -0.496960  0.651186 -0.237663  1.437887
44  10807.392785      13 -0.497005  0.800238 -0.237655  1.436284
51  10808.392785      13 -0.497051  0.949381 -0.237660  1.437325
58  10809.392785      13 -0.496705  1.098526  0.087176  1.434075
65  10810.392785      13 -0.494707  1.247491  0.087748  1.436531
73  10811.392785      13 -0.491239  1.396212  0.322483  1.433137
81  10812.392785      13 -0.487767  1.544870  0.323065  1.434569

# Next take df_normal and for each element in it put 10 rows in X and 1 row into Y (Convert to numpy) For Model 1

In [19]:
X[0]

array([[-0.46684979, -0.60761065, -0.90826326,  1.14695297],
       [-0.47109841, -0.49040891, -0.90822753,  1.14689626],
       [-0.47424717, -0.37283967, -0.71314296,  1.15048657],
       [-0.47727534, -0.25515343, -0.71242595,  1.14888376],
       [-0.48030228, -0.1375154 , -0.71228921,  1.1485781 ],
       [-0.48333009, -0.01984312, -0.71186626,  1.14763262],
       [-0.48635652,  0.09777536, -0.71272623,  1.14955501],
       [-0.48849523,  0.21563232, -0.47673441,  1.15168105],
       [-0.4900413 ,  0.33352078, -0.47732537,  1.15427292],
       [-0.49158783,  0.45144506, -0.47631126,  1.14982518]])

In [16]:
X = []
y = []
for df in df_normal:
    X.append(np.asarray(df.iloc[0:10,2:]))
    y.append(np.asarray(df.iloc[10,2:]))
X = np.asarray(X)
y = np.asarray(y)
np.save(r'{}\X_scaled.npy'.format(start_folder), X)
np.save(r'{}\y_scaled.npy'.format(start_folder), y)